<% provide :title, @doc_group.name %>

<%= render 'breadcrumb' %>

<h1 class="page-header"><%= @doc_group.name %></h1>

<div class="row">
  <div class="span4">
    <ul class="nav nav-list">
      <%= render @doc_group.version.head_groups %>
    </ul>
  </div>
  <div class="span8">
    <%= render(@doc_group.primary_doc || 'generic_first_page') %>
  </div>
</div>

