<ul>
  <% version.doc_groups.where(:parent_id => nil).includes(:children).each do |group| %>
  <li>
    <%= link_to group.name, group %>
    <% if group.children.any? %>
    <ul>
      <% group.children.each do |child| %>
      <li><%= link_to child.name, child %></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <% end %>
</ul>